<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>CustomerController</servlet-name>
		<display-name>CustomerController</display-name>
		<description></description>
		<servlet-class>com.icbt.controller.CustomerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerController</servlet-name>
		<url-pattern>/customer</url-pattern>
	</servlet-mapping>

</web-app>